.button {
  font-family: var(--mono);
  background-color: var(--orange);
  color: var(--white) !important;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white) !important;
  background-color: var(--hotmag);
}
