.contact {
  background-color: var(--blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.contact > * {
  max-width: calc(var(--max-width) / 2);
}

.contact:last-child {
  padding-top: 3rem;
}

.button {
  font-family: var(--mono);
  background-color: var(--hot-pink);
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white);
  background-color: var(--orange);
}
